<div class="row mt-5">
	<div class="col-md-6 m-auto">
		<div class="card card-body">
			<h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> File Upload</h1>
			<form action="/upload" method="POST" enctype="multipart/form-data">
				<div class="form-group">
					<label for="img">Image</label>
					<input type="file" id="img" name="myImage" class="form-control" />
				</div>
				<button type="submit" class="btn btn-primary btn-block">Save</button>
			</form>
		</div>
	</div>
</div>
